@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color:#666666;
	padding: 0.05rem 0% 0.25rem 0%;
	box-shadow: 0 3px 5px #888888;
}

h1,
main {
	width: 90%;
	margin: 1rem auto;
}

img {
	width: 100%;
	box-shadow: 0px 1px 10px #888888;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: block;
	position: absolute;
	top: 10px;
	right: 5%;
	height: 40px;
	width: 40px;
	background: #666666 url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-ben:focus,
.nav-ben:active {
	background-color: #ccc;
}

.nav a,
.nav a:link,
.nav a:visited {
	display:block;
	padding: 1rem;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background-color: #1F1F1F;
}

.nav a:hover,
.nav-a:focus,
.nav-a:active {
	background-color: #333;
}

.nav-top {
	display:none;
}

.nav-top[data-state="expanded"] {
	display: block;
}

.logo {
	width: 70px;
	float: left;
	margin-top: 1rem;
}

.name {
	width: 70%;
	float: right;
}

h1 {
	color: #FFFFFF;
}

h5 {
	font-size: 1.5rem;
	text-align: left;
	color:#000000;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.5rem;
	text-align: center;
}

p {
	font-size: 1rem;
}

footer {
	background-color: #999999;
}

footer p {
	padding: 1rem 5% 0 5%;
}

ul li {
	font-size: 0.90rem;
	color: #454545;
}

main ul li {
	margin-bottom: .5rem;
}

table {
	box-shadow: 0px 0px 10px #888888;
}

table td, 
table th {
    padding: 8px; 
	text-align: left;
}

table th {
	background-color:#7A7A7A;
}

th {
	color: #ffffff;
}

td {
	font-size: 0.75rem;
}

.tra {
	background-color: #959595;
	color: #FFFFFF;
}

	